<p style="color: green"><%= notice %></p>

<%= render @paper %>

<h2>Authors</h2>
<ul>
  <% @paper.authors do |author| %>
    <li>
      <%= link_to author.name, author_path(author) %>
    </li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this paper", edit_paper_path(@paper) %> |
  <%= link_to "Back to papers", papers_path %>

  <%= button_to "Destroy this paper", @paper, method: :delete %>
</div>
